@import '../../../../variables'
@import '../../../../mixins'

.nav-link-item
    display inline-block
    font-size 1.4rem

.nav-link
    display block
    padding rem(10px) rem(20px)
    background $color-blue-dark
    color $color-white
    text-decoration none

    &.active
        background-color $color-blue-light
