{{!--
NOTE: no push state for deep partials

(need to resave the partial referenced
in the static page or layout to get hot reload:
html_nav.static.hbs)
--}}

<li class="nav-link-item">
    <a class="nav-link" href="{{url}}">{{text}}</a>
</li>
