@import "../variables"

@font-face
    font-family 'questa_grande'
    src url('fonts/questa_grande.woff2') format('woff2'),
        url('fonts/questa_grande.woff') format('woff')
    font-weight normal
    font-style normal

body
    font-family font-family-text
    text-align center

h1, h2, h3
    font-family font-family-title
    font-weight normal

p
    line-height 1.4em
    margin 10px 0
