@import "../variables"


// FONTS

@font-face
    font-family 'questa_grande'
    src url('fonts/questa_grande.woff2') format('woff2'),
        url('fonts/questa_grande.woff') format('woff')
    font-weight normal
    font-style normal


// ROOT

html
    font-size 62.5%

body
    font-family font-family-text
    text-align center
    font-size 1.6rem
    line-height 2rem


// HEADINGS

h1, h2, h3
    font-family font-family-title
    font-weight normal

h1
    font-size 3.6rem

h2
    font-size 2.4rem

h3
    font-size 1.8rem


// PARAGRAPH

p
    margin 1rem 0
