@import "../variables"
@import "../mixins"

.module_text
    display block
    position relative
    background $color-blue-dark
    color $color-white
    padding 6rem 3rem

    .title
        font-size 3rem
        margin-bottom 1em

    em
        font-style italic
        color $color-blue-light
