@import "../variables"
@import "../mixins"

.module_block
    display block
    position relative
    min-height 50vh
    background rgba($color-blue-light, .2)

    .title
        title($color-blue-dark)

    .module-count
        display block
        position absolute
        right -15px
        top -15px
        width 30px
        height 30px
        line-height 30px
        border-radius 15px
        text-align center
        letter-spacing 0
        background $color-blue-light
        color $color-white
        font-size 80%
