@import "../variables";
@import "../mixins";

.module_slick {
  display: block;
  position: relative;
  .title {
    @include title($color-white);
  }
  .carousel img {
    width: 100%;
    height: auto;
  }
}
