@import "../variables"
@import "../mixins"

.module_text
    display block
    position relative
    background color-blue-dark
    color color-white
    padding size(60px) size(30px)
    .title
        font-size size(30px)
        margin-bottom size(30px)
    em
        font-style italic
        color color-blue-light
