@import "../variables";

.nav {
  ul {
    display: block;
    padding: 20px;
    li {
      display: inline-block;
      margin: 10px;
    }
  }
  .nav_link {
    display: block;
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    color: $color-white;
    background: $color-blue-dark;
    transition: $transition;
    &:hover {
      background: $color-blue-light;
    }
  }
}
