// colors
color-white = #fff
color-blue-light = #00b9df
color-blue-dark = #224482

// font families
font-family-text = sans-serif
font-family-title = 'questa_grande'

// transition
transition = all .2s ease-in-out

// breakpoints
smartphone = "screen and (max-width: 560px)"
tablet = "screen and (min-width: 560px)"
desktop = "screen and (min-width: 940px)"
