// colors
$color-white = #fff
$color-blue-light = #00b9df
$color-blue-dark = #224482

// font families
$font-family-text = "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif
$font-family-title = "Questa Grande"

// transition
$transition = .2s ease-in-out

// breakpoints
$smartphone = 'screen and (min-width: 35.5em)'
$tablet = 'screen and (min-width: 48em)'
$desktop = 'screen and (min-width: 64em)'
$cinema = 'screen and (min-width: 80em)'
