extends ../layouts/master.static.pug

block variables
    - var title = 'Home'
    - var bodyClass = 'home'
    - var pageTitle = title

block content
    -
        var slides = [
            {
                title: 'slide 01',
                img: 'contribution/axel-ahoi-50659.jpg'
            },
            {
                 title: 'slide 02',
                 img: 'contribution/frank-mckenna-252014.jpg'
            }
        ]
    include ../components/carousel/carousel.static.pug
    +carousel(slides)
