extends ../layouts/master.static.pug

block variables
    - var title = 'Page 02'
    - var bodyClass = 'page-02'
    - var pageTitle = 'Overwrite Title & Header'

block header
    include ../components/ui/page_title/page_title.static.pug
    include ../components/ui/nav/nav.static.pug

block content
    p.text-center Content

block footer
    p.text-center Overwrite Footer
