@import "../variables"

.module_pug
  display block
  position relative
  background color-blue-dark
  color color-white
  padding 60px 30px
  .title
    font-size 200%
    margin-bottom 30px
  em
    font-style italic
    color color-blue-light
