doctype
html
    head
        meta(charset="utf-8")
        title Brunch Boilerplate
        include ../partials/master_favicons.static.pug
        meta(name="viewport", content="width=device-width,initial-scale=1")
        link(href="css/vendor.css", rel="stylesheet", type="text/css", media="all")
        link(href="css/main.css" rel="stylesheet" type="text/css" media="all")
    body
        include ../partials/ui_header.static.pug
        include ../partials/ui_nav.static.pug
        block content
        include ../partials/ui_footer.static.pug
        script(src="js/vendor.js")
        script(src="js/main.js")
        script require('src/scripts/main').init();
