.carousel
    display block
    position relative
    .carousel-slide
        display block
        position relative
        height auto
    .slide-title
        display block
        position absolute
        top 50%
        text-align center
        width 100%
        color rgba(white, .3)
        font-size 16rem
        line-height 16rem
        transform translate(0,-8rem)
        margin 0
    .slide-img
        width 100%
        height auto
