@import '../../variables'

.carousel
    display block
    position relative
    .carousel-slide
        display block
        position relative
        height auto
    .slide-title
        display block
        position absolute
        top 50%
        text-align center
        width 100%
        color $color-white
        margin 0
        font-size 8rem
        line-height 8rem
        transform translate(0,-4rem)
        text-transform uppercase
        @media $smartphone
            font-size 16rem
            line-height 16rem
            transform translate(0,-8rem)
    .slide-img
        width 100%
        height auto
