.module_text
    h2.title Module Pug
    p Module markup using <em>pug</em>, styled with <em>stylus</em>,
        br
        | Modules markup can also be done with <em>handlebars</em> and styled with <em>sass</em>
    p All of this ends up as <em>html</em> and <em>css</em>.
