.module_slick
    h2.title Module Slick
    .carousel
        .slide
            img(src="contribution/slick1-zachary-staines-43216.jpg")
        .slide
            img(src="contribution/slick2-jakob-owens-208999.jpg")
