extends markup/layouts/master.static.pug

block content
    .section
        include markup/partials/module_slick.static.pug
    .section
        include markup/partials/module_pug.static.pug
    .section
        include markup/partials/module_block.static.pug
