extends markup/layouts/master.static.pug

block content
    .section
        include markup/partials/module_block.static.pug
    .section
        include markup/partials/module_image.static.pug
    .section
        include markup/partials/module_block.static.pug
