block variables

html(lang="fr")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
        title #{title}
        include favicons.static.pug
        link(rel="stylesheet" href="css/vendor.css")
        link(rel="stylesheet" href="css/main.css")
    body(class=bodyClass)
        block header
            include ../components/ui/header/header.static.pug
            include ../components/ui/nav/nav.static.pug
            include ../components/ui/page_title/page_title.static.pug
        block content
        block footer
            include ../components/ui/footer/footer.static.pug
        script(src="js/vendor.js")
        script(src="js/main.js")
