@font-face {
  font-family: 'Questa Grande';
  font-weight: 400;
  font-style: normal;
  src: local("Questa Grande"), url("fonts/questa_grande.woff2") format("woff2"), url("fonts/questa_grande.woff") format("woff");
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
}
h1,
h2,
h3 {
  font-family: "Questa Grande";
  font-weight: normal;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  margin: 1rem 0;
}

/**
 * Simple @font-face mixin
 * http://kouto-swiss.io/docs.html#font-face
 **/
/**
 * Convert pixels to rem. Assumes 1rem = 16px
 * http://kouto-swiss.io/docs.html#rem
 */
/**
 * Shortcut for width and height properties
 * http://kouto-swiss.io/docs.html#size
 **/

.module_block {
  display: block;
  position: relative;
  min-height: 50vh;
  background: rgba(0,185,223,0.2);
}
.module_block .title {
  display: block;
  position: absolute;
  top: 50%;
  line-height: 4rem;
  margin-top: -2rem;
  left: 50%;
  width: 26rem;
  margin-left: -13rem;
  color: #224482;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border: 1px dotted #224482;
  font-size: 1.6rem;
}
.module_block .module-count {
  display: block;
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
  letter-spacing: 0;
  background: #00b9df;
  color: #fff;
  font-size: 80%;
}

.module_image {
  display: block;
  position: relative;
}
.module_image .image {
  vertical-align: top;
  position: relative;
  max-width: 100%;
  height: auto;
}
.module_image .title {
  display: block;
  position: absolute;
  top: 50%;
  line-height: 4rem;
  margin-top: -2rem;
  left: 50%;
  width: 26rem;
  margin-left: -13rem;
  color: #fff;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border: 1px dotted #fff;
  font-size: 1.6rem;
}

.module_slick {
  display: block;
  position: relative;
}
.module_slick .title {
  display: block;
  position: absolute;
  top: 50%;
  line-height: 4rem;
  margin-top: -2rem;
  left: 50%;
  width: 26rem;
  margin-left: -13rem;
  color: #fff;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border: 1px dotted #fff;
  font-size: 1.6rem;
}
.module_slick .carousel img {
  width: 100%;
  height: auto;
}

.module_text {
  display: block;
  position: relative;
  background: #224482;
  color: #fff;
  padding: 6rem 3rem;
}
.module_text .title {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.module_text em {
  font-style: italic;
  color: #00b9df;
}

.footer {
  padding: rem(30px);
  color: rgba(0,0,0,0.3);
}
.footer p {
  font-size: 1rem;
}

.header h1 {
  font-size: 1.6rem;
  color: #224482;
}

.nav ul {
  display: block;
  padding: 20px;
}
.nav ul li {
  display: inline-block;
  margin: 10px;
}
.nav .nav_link {
  display: block;
  position: relative;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  background: #224482;
  transition: 0.2s ease-in-out;
  font-size: 1.2rem;
}
.nav .nav_link:hover {
  background: #00b9df;
}
@media screen and (min-width: 64em) {
  .nav .nav_link {
    font-size: 1.6rem;
  }
}



/*# sourceMappingURL=main.css.map*/